.headerBar {
  width: 100%;
  text-align: center;
  font-size: 30px;
  color: #e8e8e8;
  padding-top: 5px;
  padding-bottom: 5px;
  background-color: #363042;
}

.chatBar {
  border-radius: 1px;
  border: solid black;
  float: right;
  height: 80vh;
  width: 300px;
  text-align: center;
}

.gameClientWindow {
  background-color: #574f66;
  height: 100vh;
}

.playerList {
  float: left;
  width: 200px;
  list-style-type: none;
  padding: 0;
  font-size: 20px;
}

.playerListEntry {
  border: solid black;
  border-radius: 6px;
}
